# -------------------------
# MLflow
# -------------------------
mlflow:
  tracking_uri: "http://127.0.0.1:5000"
  experiment_name: "credit_card_approval_prediction"
  model_name: "credit_card_approval_model"

# -------------------------
# Data
# -------------------------
data:
  features_path: "data/features/data.csv"
  train_path: "data/features/train.csv"
  val_path: "data/features/val.csv"
  test_path: "data/features/test.csv"
  target_column: "TARGET"



features:
  numeric:
    - FLAG_OWN_CAR
    - FLAG_OWN_REALTY
    - CNT_FAM_MEMBERS
    - AMT_INCOME_TOTAL
    - FLAG_WORK_PHONE
    - FLAG_PHONE
    - FLAG_EMAIL
    - AGE
    - YEARS_EMPLOYED
  categorical:
    - CODE_GENDER
    - NAME_INCOME_TYPE
    - NAME_EDUCATION_TYPE
    - NAME_FAMILY_STATUS
    - NAME_HOUSING_TYPE
    - OCCUPATION_TYPE


# -------------------------
# Train / Validation split
# -------------------------
split:
  train_size: 0.7
  val_size: 0.15
  test_size: 0.15
  random_state: 67

# -------------------------
# Models & hyperparameters
# -------------------------
model:

  logistic_regression:
    max_iter: 1000
    C: 1.0

  random_forest:
    n_estimators: 300
    max_depth: null
    min_samples_leaf: 100

  xgboost:
    n_estimators: 300
    max_depth: null
    learning_rate: 0.05
    subsample: 0.8
    colsample_bytree: 0.8
    reg_lambda: 1.0
    reg_alpha: 0.0

# -------------------------
# Evaluation / Gatekeeping
# -------------------------
evaluation:
  metric: "roc_auc"
  threshold: 0.5

# -------------------------
# FastAPI Backend
# -------------------------

api:
  # Model serving configuration
  production_model_uri: "models:/credit_card_approval_model@champion"
  prediction_threshold: 0.5
  production_data_path: "data/production/production_data.csv"